---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/domains/floatingpoint.io/records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ...
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4994'
      Ratelimit-Reset:
      - '1428957146'
    body:
      encoding: UTF-8
      string: '{"domain_records":[{"id":1851008,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"weight":null},{"id":1851009,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"weight":null},{"id":1851010,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"weight":null},{"id":1851925,"type":"A","name":"@","data":"178.62.198.200","priority":null,"port":null,"weight":null},{"id":1851934,"type":"A","name":"floatingpoint.io","data":"178.62.198.200","priority":null,"port":null,"weight":null},{"id":1851939,"type":"CNAME","name":"www","data":"@",[...]
- request:
    method: post
    uri: https://api.digitalocean.com/v2/domains/floatingpoint.io/records
    body:
      encoding: UTF-8
      string: '{"type":"A","name":"foo","data":"127.0.0.1","priority":null,"port":null,"weight":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 740ed6dd3e97e498892b2c2d0fd74376dc259c2b4cf898b168fbaa650171b732
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4993'
      Ratelimit-Reset:
      - '1428957146'
      Etag:
      - '"89d865317d5ead6eb139000676801d45"'
    body:
      encoding: UTF-8
      string: '{"domain_record":{"id":6221827,"type":"A","name":"foo","data":"127.0.0.1","priority":null,"port":null,"weight":null}}'
  recorded_at: Mon, 13 Apr 2015 19:36:53 GMT
recorded_with: VCR 2.9.3
