---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "ip": "127.0.0.1",
          "hostname": "No Hostname",
          "city": null,
          "country": "__hidden__",
          "loc": "__hidden__",
          "org": "__hidden__"
        }
  recorded_at: Mon, 13 Apr 2015 20:32:25 GMT
recorded_with: VCR 2.9.3
