---
http_interactions:
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: api_key=...&api_action=domain.list&api_responseFormat=json
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ERRORARRAY":[],"DATA":[{"DOMAINID":677842,"DESCRIPTION":"","EXPIRE_SEC":0,"RETRY_SEC":0,"STATUS":1,"LPM_DISPLAYGROUP":"","MASTER_IPS":"","REFRESH_SEC":0,"SOA_EMAIL":"vedran.kolac@gmail.com","TTL_SEC":0,"DOMAIN":"40winks.org","TYPE":"master","AXFR_IPS":"none"},{"DOMAINID":630440,"DESCRIPTION":"","EXPIRE_SEC":0,"RETRY_SEC":0,"STATUS":1,"LPM_DISPLAYGROUP":"","MASTER_IPS":"","REFRESH_SEC":0,"SOA_EMAIL":"vedran.kolac@gmail.com","TTL_SEC":0,"DOMAIN":"bensmitharchitecture.com","TYPE":"master","AXFR_IPS":"none"},{"DOMAINID":669098,"DESCRIPTION":"","EXPIRE_SEC":0,"RETRY_SEC":0,"STATUS":1,"LPM_DISPLAYGROUP":"","MASTER_IPS":"","REFRESH_SEC":0,"SOA_EMAIL":"vedran.kolac@gmail.com","TTL_SEC":0,"DOMAIN":"dizajnerice.com","TYPE":"master","AXFR_IPS":"none"},{[...]
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: api_key=ALjn3d54rvfzqWI4F1YScflIRlLgmo8XPiQAGVmPJsPoakP2a3IXQfx4SYlfAaJr&api_action=domain.resource.list&api_responseFormat=json&DomainId=687423
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ERRORARRAY":[],"DATA":[{"DOMAINID":687423,"PORT":80,"RESOURCEID":5073588,"NAME":"","WEIGHT":5,"TTL_SEC":0,"TARGET":"178.62.198.200","PRIORITY":10,"PROTOCOL":"","TYPE":"a"},{"DOMAINID":687423,"PORT":80,"RESOURCEID":5073641,"NAME":"foo","WEIGHT":5,"TTL_SEC":0,"TARGET":"127.0.0.1","PRIORITY":10,"PROTOCOL":"","TYPE":"A"}],"ACTION":"domain.resource.list"}'
  recorded_at: Mon, 13 Apr 2015 20:24:42 GMT
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: api_key=ALjn3d54rvfzqWI4F1YScflIRlLgmo8XPiQAGVmPJsPoakP2a3IXQfx4SYlfAaJr&api_action=domain.resource.update&api_responseFormat=json&DomainId=687423&ResourceId=5073641&Name=foo&Target=127.0.1.1
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ERRORARRAY":[],"DATA":{"ResourceID":5073641},"ACTION":"domain.resource.update"}'
  recorded_at: Mon, 13 Apr 2015 20:24:43 GMT
recorded_with: VCR 2.9.3
